@use 'sass:color';
@use 'molstar/lib/mol-plugin-ui/skin/base/colors' with (
    $default-background:         #e9f0f7,
    $logo-background:            #e9f0f7,
    $font-color:                 #333333,
    $hover-font-color:           #325880,
    $entity-current-font-color:  #ccd4e0,
    $msp-btn-remove-background:      #BF3A31,
    $msp-btn-remove-hover-font-color:#BF3A31,
    $msp-btn-commit-on-font-color:   #325880,
    $entity-badge-font-color:    #ccd4e0,

    // used in LOG
    $log-message:          #0CCA5D,
    $log-info:             #5E3673,
    $log-warning:          #FCC937,
    $log-error:            #FD354B
);

@use 'molstar/lib/mol-plugin-ui/skin/base/base';

.msp-semi-transparent-background {
    opacity: 0.8 !important;
}
